In [17]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

In [21]:
file_path="https://archive.ics.uci.edu/ml/machine-learning-databases/00519/heart_failure_clinical_records_dataset.csv"
#data_header=["age","workclass","flnweight","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","income"]
#dataset=pd.read_csv(file_path, names=data_header)
dataset=pd.read_csv(file_path)
dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [30]:
#Identify the features that will help in identifying the death event
#Create the X and y values
input_cols=dataset.columns.drop('DEATH_EVENT')
X=dataset[input_cols]
y=dataset['DEATH_EVENT']

### Univariate Feature Selection

In [40]:
def select_features_univariate(X,y,k):
    #Select top k columns
    selector = SelectKBest(f_classif, k=k)
    X_new = selector.fit_transform(X,y)
    selected_features = pd.DataFrame(selector.inverse_transform(X_new), 
                                     index=X.index,
                                     columns=X.columns)
    # Selected Columns have the value > 0 
    selected_columns = selected_features.columns[selected_features.var() != 0]
    return selected_columns

In [42]:
selected_u = select_features_univariate(X, y,5)
print(selected_u)
#print(dataset.columns)

Index(['age', 'ejection_fraction', 'serum_creatinine', 'serum_sodium', 'time'], dtype='object')

### L1 regularization

In [50]:
def selected_features (X,y):
    logistic = LogisticRegression(C=0.1, penalty="l1", solver='liblinear', random_state=5).fit(X, y)
    model = SelectFromModel(logistic, prefit=True)
    X_new = model.transform(X)
    selected_features = pd.DataFrame(model.inverse_transform(X_new), 
                                     index=X.index,
                                     columns=X.columns)
    # Selected Columns have the value > 0 
    selected_columns = selected_features.columns[selected_features.var() != 0]
    return selected_columns

In [51]:
selected = selected_features(X, y)
print(selected)
#print(dataset.columns)
#dropped_columns = dataset.drop(selected)
#print("droped",dropped_columns)

Index(['age', 'creatinine_phosphokinase', 'ejection_fraction',
       'serum_creatinine', 'serum_sodium', 'time'],
      dtype='object')